.formregister form{
    text-transform: capitalize !important;
    }
    .formlogin_parent{
       background-color: #f2f3f5;
       margin: auto !important;
      
       padding: 60px 50px 56px;
       border-radius: 7px;
    }
    .formlogin .formlogin_parent form .btn{
        height: 55px;
        line-height: 55px;
        padding: 0 36px;
        border-radius: 0;
        overflow: hidden;
        position: relative;
        border: 0;
        font-size: 15px;
        transition: all 0.5s ease;
        font-weight: 500;
        border-radius: 4px;
        z-index: 0;
    }
  .Navbarlogin{
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 99999;
  }  
    